.fillerDiv {
    height: 10%;
}
.myBackgroundImage {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    background-image: url("img/BackgroundImage2.jpg");
}

.pagiButton {
    font-size: 2em;
    margin: -1px 5px;
    color: #212529;
}

.myDrinksTable {
    width: 100%;
}

.myDrinksButtonsDelete, .myDrinksButtonsDelete:hover{
    color: red;
}

.myDrinksButtonsRed, .myDrinksButtonsRed:hover {
    color: red;
}

.myDrinksButtonsUndelete, .myDrinksButtonsUndelete:hover{
    color: green;
}


/*FILTER FORM*/

.filterFormSearch input {
    width: 200px;
}
.filterFormSearch label {
    font-size: 1.2em;
    margin: 0;
    margin-right: 5px;
}
.filterFormSearch, .filterFormRadio {
    margin: 0;
    margin-left: 3em;
}

.filterFormRadio label {
    margin: auto 1em auto 0.2em;
}
.filterFormRadio input {
    margin: auto 0;
}

.filterFormRight p {
    margin: 0;
    font-size: 1.2em;
}

.filterFormSubmit input {
    margin: 0 auto;
    min-width: 5em;
}

/*ADD AND EDIT FORM*/

.addFormTitle h1 textarea, .addFormIngredients textarea, .addFormContent textarea{
    width: 100%;
    resize: none;
    overflow: hidden;
}