<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="css/loginStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div class="login">
    <h1>Change Avatar</h1>
    <form action="index.php?page=changeAvatar" method="post" enctype="multipart/form-data">
        <label for="fileToUpload">
            <i class="fas fa-chevron-circle-up"></i>
        </label>
        <input type="file" name="fileToUpload" placeholder="New Avatar" id="fileToUpload" required>
        <input type="submit" value="Change Password">
    </form>
</div>
</body>
</html>